<div class="container">
  <h2 class="mb-4">Liste des Maisons</h2>

  

  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>n°</th>
        <th>Nom</th>
        <th>Superficie (m²)</th>
        <th>Quartier</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let maison of maisons; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ maison.nom }}</td>
        <td>{{ maison.superficie }}</td>
        <td>{{ maison.quartier.nom }}</td>
        <td>
          <a [routerLink]="['/maisons', maison.id]" class="btn btn-info btn-sm me-1">Détails</a>
          <a [routerLink]="['/maisons', maison.id, 'edit']" class="btn btn-warning btn-sm me-1">Modifier</a>
          <button class="btn btn-danger btn-sm" (click)="deleteMaison(maison.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
    
  </table>
  <div class="text-end mb-3">
    <a routerLink="/maisons/new" class="btn btn-success">Ajouter Maison</a>
  </div>
</div>



